/* Streams Styling */
.stream-section {
  background-color: #3d1500;
  margin-top: 50px;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.streams-row {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 50px;
}