/* Colors */
/* 545e75 */
/* 63adf2 */
/* a7cced */
/* 304d6d */
/* 82a0bc */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #3f2869;
}

/* Profile Picture Styling */
.circular {
  width: 300px;
  height: 300px;
  border-radius: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border: 1px solid #653fac;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #653fac;
}

.bread-logo {
  width: 210%;
  margin-top: -61px;
  margin-left: -165px;
}

.white-heading {
  color: white;
}

.section-header {
  margin-bottom: 25px;
}

/* Main Content */
.main-content-row {
  margin-left: 20px;
  margin-right: 20px;
}

.card-item {
  background-color: #3d1500;
}

.content-item {
  margin-bottom: 30px;
}

/* Streams Styling */
.stream-section {
  background-color: #ffeed7;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.streams-row {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 50px;
}

@media (max-width: 834px) {
  .main-content-row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .no-padding {
    padding: 0px !important;
  }

  .card {
    width: 100%;
  }
}