/* Streams Styling */
.stream-section {
  background-color: #ffeed7;
  margin-top: 50px;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.streams-row {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 50px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-control {
    height: 0;
    top: 50%;
}
